@{
    ViewData["Title"] = "Privacy Policy";
}
@model Ghost_T.DTO.Product_dto
<h1>@ViewData["Title"]</h1>

@* <section>
    <form asp-action="Addproduct" enctype="multipart/form-data" method="post">

    <div class="add-product-form">
        <header class="main-header">Add new product</header>
        <div class="data">
                <input asp-for="ImageFile" class="form-control" required type="file" />
                <input type="text" asp-for="ProductName" placeholder="Category..." />
            <input type="text"asp-for="ProductDescription"placeholder="Category..."/>
            <input type="text" asp-for="ProductPrice"placeholder="Category..." />  </div>
        <div class="panel">
                <button type="submit"  class="button">Add</button>
            <a href="../home">
                <button class="button" id="cancel-button">Cancel</button>
            </a>
        </div>
    </div>
    </form>
</section> *@